body{
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}
#headerContainer{
    width: 100%;
    height: 500px;
	display: flex;
}
.navbar {
	display: flex;
    z-index: 10000;
}
.welcomeImg{
    height: 500px;
    display: block;
    margin: auto; 
    width: 100%;
    top: 0px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: right;
    position: fixed;
    top: 0;
    width: 100%;
}
li{
  float: right;  
}
li a{
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 14px 16px;
}
li a:hover{
    background-color: #eee;
    color: black;
}
#moto{
 width: 100%;
 height: 250px;
 text-align: center;
 background-color: darkolivegreen;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 font-style: italic;
}
#motolabel{
    position: relative;
    top:80px;
    color: white;
    font-size: 90px;
}
#prod{
    height: 950px;
    background-color: #eee;
    text-align: center;
}
#inst{
    position: relative;
    top:20px;
    font-size: 20px; 
    font-style: italic;
}
.products{
    position: relative;
    top:40px;
    display: flex;
    flex-direction: row;
}
.items{
    width: 300px;
    height: 300px;
    max-width: 100%;
    display: block;
    margin: auto;
    padding: auto;
    margin-left: 100px;
    border-radius: 5px;
    margin-top: 100px;
}

label{
    font-family: sans-serif;
    font-size: 20px;
    top: 30px;
    position: relative;
    margin-left: 40px;
}
#contact{
    background-color: cadetblue;
    height: 300px;
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
}
.emailEntry{
    color: white;
    
}
.userInput{
    position: relative;
    top: 30px;
    size: 50px;
    width: 50%;
    height: 50px;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
}
.termsCond{
    margin-top: 50px;
    float: left;
    margin-left: 450px
}
.agreements{
    right: 290px;
    top:45px;
}
.submit{
    position: relative;
    top: 22px;
    size: 40px;
    border-radius: 3px;
    background-color: #eee;
    width: 8%;
    font-size: 22px;
    font-family: sans-serif;
}
.quotes{
    background-color: white;
    position: relative;
    top: 50px;
    height: 100px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 3px;
}
#cardDef{
    position: relative;
    top:30px;
    font-family: sans-serif;
    font-size: 20px;
    font-style: italic;
}
h5{
    float: right;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 50px;
}
.footer{
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
}
p1{
    position: relative;
    top:50%;
}