html,body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    min-width: 260px;
}
#main{
    background-color: #eeeeee;
    margin: auto auto;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    border: 0px solid;  
}
#image{
    max-width: 100%;
    display: block;
    height: auto;  
    margin: auto;
}
#img-div{
  margin: 5px 50px 5px 50px;
  padding: 4px;
  background-color: white;
  position: block;
}
#img-caption{
    margin-top: 15px;
    font-size: 14px;
   
}
#tribute-info{
    margin: 40px;
    text-align: left;
}
li{
    text-align: left;
}
